@import "tailwindcss";

@layer base {
  code, kbd, samp, pre {
    color: #d4d4d4;             /* Light text color */
    padding: 0.2em 0.4em;
    border-radius: 0.25rem;
  }
  
  pre {
    padding: 1em;
    overflow-x: auto;
    background-color: #1e1e1e;  /* Dark background like VS Code */
  }
}
