  <%# desktop error %>
  <div class="hidden md:flex items-center justify-center gap-5">
    <img src="/error_image/mashi-head.png" width="350" height="350" alt="404">

    <div class="flex flex-col">
      <h1 class="font-bold text-6xl"><%= response.code %></h1>

      <% case response.code.to_i %>
      <% when 400 %>
        <p class="mt-2">Bad Request.</p>
      <% when 404 %>
        <p class="mt-2">Page Not Found.</p>
      <% when 406 %>
        <p class="mt-2">You're trying to reach a page that isn't available.</p>
      <% when 422 %>
        <p class="mt-2">Unprocessable Entity.</p>
      <% when 500 %>
        <p class="mt-2">Internal Server Error.</p>
      <% else %>
        <p class="mt-2">An unexpected error occurred.</p>
      <% end %>

      <%= link_to "Go back home", root_path, class: "inline-block bg-[#ed5024] hover:bg-[#e0603c] text-white px-6 py-3 rounded-lg transition mt-3 w-fit" %>
    </div>
  </div>

      <%# mobile error %>
    <div class="flex sm:hidden flex-col items-center justify-center gap-5 min-h-screen">
      <img src="/error_image/mashi-head.png" width="250" height="250" alt="404">

      <div class="text-center">
        <h1 class="font-bold text-6xl"><%= response.code %></h1>

        <% case response.code.to_i %>
        <% when 400 %>
          <p class="mt-2">Bad Request.</p>
        <% when 404 %>
          <p class="mt-2">Page Not Found.</p>
        <% when 406 %>
          <p class="mt-2 max-w-sm">You're trying to reach a page that isn't available.</p>
        <% when 422 %>
          <p class="mt-2">Unprocessable Entity.</p>
        <% when 500 %>
          <p class="mt-2">Internal Server Error.</p>
        <% else %>
          <p class="mt-2">An unexpected error occurred.</p>
        <% end %>

        <%= link_to "Go back home", root_path, class: "inline-block bg-[#ed5024] hover:bg-[#e0603c] text-white px-6 py-3 rounded-lg transition mt-3" %>
      </div>
    </div>