<% content_for :title, "Editing post" %>

<div class="mx-auto px-4 ">
  <div class="md:w-2/3 w-full">
    <h1 class="font-bold text-4xl">Editing post</h1>

    <%= render "form", post: @post %>

    <%= link_to "Back to post", topic_post_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-[#ed5024] hover:bg-[#e0603c] inline-block font-medium" %>
  </div>
</div>
